<div>
<h4>{{title}}</h4>
<br>
<h4>By {{user}}</h4>
<iframe class="songbox" id="{{id}}" width="33%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="{{preview}}"></iframe>
<br>
<button class="buyMe" id="{{id}}">Purchase</button>
</div>